/* principal #007F5A */

.nav_main {
  border-bottom : 3px solid #007F5A;
  display : flex;
  align-items: center;
  background-color : white;
}

.nav_main ul span{
  flex: 6;
}

.nav_main ul {
  flex :1;
  display : flex;
  flex-direction : row;
  justify-content: center;
  align-items: center;
  list-style : none;
}

.nav_main li {
  flex: 1;
}

.nav_main p{
  text-align : center;
  padding : 5px 0;
  font-size : 15px;
}

@keyframes nav_link_bigger {
  from {color : #007F5A; font-size : 15px}
  to {
    color : black;
    font-size : 18px;
    font-weight: 400;
  }
}

.nav_main p:hover {
  color : black;
  line-height: 0;
  font-size : 18px;
  font-weight: 400;
  animation : nav_link_bigger;
  animation-duration: 500ms;
}

.nav_main a {
  color : #007F5A;
  padding : 0px 4px ;
}

.ApneaDockLink {
  margin : 0;
  box-sizing : border-box;
}

@keyframes example {
  from {background-color: #bdc3c799}
  to {background-color: #007F5A;}
}

.ApneaDockLink a {
  border: solid 2px #007F5A;
  font-weight: bold;
  border-radius : 6px;
  color : #007F5A;
  padding : 8px 10px;
}

.ApneaDockLink:hover a{
  color: white;
  background-color : #007F5A;
  animation : example;
  animation-duration: 500ms;
}

.main {
  margin : 0;
  padding : 0;
  width: 100%;
}

.WhatOImage {
  margin : 1% 2%;
  max-width: 900px;
  vertical-align: top;
}

.WhatOBlock {
  position: relative;
  bottom : 90px;
  background-color: #FFFFFF;
  padding : 10px;
  margin-bottom : -80px;
  border-right : 5px solid #007F5A;
  font-size : 18px;
}

.WhatOBlock h1 {
  color : #007F5A;
}

.WhatOContainer  {
  padding-bottom : 0;
  display : flex;
  justify-content: center;
  align-items : center;
  background-color: #EDEDED;
}

.WhatOContainer h1 {
  margin-bottom : 5px;
  color : #007F5A;
}