/* principal #007F5A */
.container  {
  font-family: 'Montserrat', sans-serif;
}

.nav_main {
  border-bottom : 3px solid #007F5A;
  padding : 0px 5px;
  display : flex;
  align-items: center;
  background-color : white;
}

.nav_main ul span{
  flex: 6;
}

.nav_main ul {
  flex :1;
  display : flex;
  flex-direction : row;
  justify-content: center;
  align-items: center;
  list-style : none;
}

.nav_main li {
  flex: 1;
}

.nav_main p{
  border-right : 2px solid #007F5A;
  text-align : center;
  font-size : 20px;
}

.nav_main span {
  flex : 1;
}

.nav_main a {
  color : #007F5A;
  padding : 0px 4px ;
}

.ApneaDockLink {
  margin : 0;
  margin-right : 8px;
  box-sizing : border-box;
}

@keyframes example {
  from {background-color: #bdc3c799}
  to {background-color: #007F5A;}
}

.ApneaDockLink a {
  border: solid 2px #007F5A;
  font-weight: bold;
  font-size : 18px;
  border-radius : 6px;
  color : #007F5A;
  padding : 8px 10px;
}

.ApneaDockLink:hover a{
  color: white;
  background-color : #007F5A;
  animation : example;
  animation-duration: 0.5s;
}